@model NewUserVM

@{
    ViewBag.Title = ViewContent.Users_Add_Title;
}

<div class="page-content"></div>

<h2>@ViewContent.Users_Add_AddTitle</h2>

@if(ViewBag.ResultMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.ResultMessage
    </div>
}

<div class="row">
    <div class="col-md-12">
    @using (Html.BeginForm("Add", "Users", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        
       <div class="form-group">
            @Html.LabelFor(m => m.IsEmailEnabled, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.IsEmailEnabled, new { style = "margin-top:10px;" })
                @Html.ValidationMessageFor(m => m.IsEmailEnabled, "", new { @class = "text-danger" })
            </div>
        </div>
        
         <div class="form-group">
             <div class="col-md-2 right">
                <input type="submit" value="@ViewContent.Users_Add_Save" class="btn btn-default" />
             </div>
        </div>
        
        <div class="margint-middle">
            @Html.ActionLink(ViewContent.Users_Add_BackToList, "List")
        </div>
    }
    </div>
</div>
